<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<!-- Required meta tags -->
	<meta charset="utf-8">
	<!-- Bootstrap CSS -->
	<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


<script type="text/javascript"> 
    $(function(){       
   $("h5").hide(4000);
		 $("h5").show(4000);
		 $("h5").toggle(4000); 
		       
 $("h5").slideUp(3000);
		  $("h5").slideDown(3000);
		   $("h5").slideToggle(3000);
		  $("h5").fadeIn(1000);
		  $("h5").fadeOut(5000);
		   $("h5").fadeIn(5000);
	});</script>
</head>
<style>.e{
  background-image:url('img/8.jpg');
  background-size:100% 100%;
  background-attachment:fixed;
  width:100%;
 height:70%;
}
.hearderset{
 padding-top:170px;
 box-sizing:border-box;

}
.numbers .rect {
		position:relative;
		z-index:1;
		background:#fff;
		width:17rem;
		height:6rem;
  padding-top: 3.5vmin;
 margin:1rem;
 border-radius:.5em;
 box-shadow:1px 2px 50px 0px  #D35400;
 
}
.numbers .rect h1{

 
 text-align: center;
	font-size:3rem;
	color:#D35400;
	
		
 
}
</style>
<body style="background-color:#FFFAFA " >


<div class="e">

<div class="container text-center text-white hearderset">
<h2>اهل بكم في </h2>
<h1>منصة كور ريم التعليمية</h1>
<button class="btnh btn-warning text-white btn-lg" onclick="window.location='https://api.whatsapp.com/send?phone=22238515258'">اشتراك</button>

</div>
</div>
</div>
<section class="se">
<div class="container-fluid text-center">
<div class="cards1">
<div class="numbers d-flex  flex-md-row flex-wrap justify-content-center">
<div class="rect ">
<button class="btnh btn-warning text-white btn-lg" onclick="window.location='i.html'">ajoute client </button>
<button class="btnh btn-warning text-white btn-lg" onclick="window.location='i.html'">supprime client</button>
<button class="btnh btn-warning text-white btn-lg" onclick="window.location='i.html'">retire de largent</button>
<button class="btnh btn-warning text-white btn-lg" onclick="window.location='i.html'">verssement</button>
</div>

</div></div></div>

